/* App.css */

/* General Styles */
body {
  font-family: poppins, sans-serif;
  background-color: #f4f7f6;
  margin: 0;
  padding: 0;
}
/* Add this to your existing CSS file (App.css) */

/* Button styles for the added state */
.add-to-cart-btn.added {
  background-color: white;
  color: black;
  border: 1px solid black;
}


h2 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Container Styles */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-item {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item.active {
  color: #007bff;
}

.content {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}


/* ProductList Styles */
/* .product-list {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.product-list input[type="text"] {
  width: calc(100% - 30px);
}

.product-list .button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.product-list li:last-child {
  border-bottom: none;
}

.product-list .product-name {
  flex: 1;
}

.product-list .product-price {
  flex: 1;
  text-align: center;
}

.product-list .add-to-cart-btn, .product-list .edit-btn {
  flex: 1;
  text-align: center;
}

/* Add Product Form Styles */
.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.edit-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Cart Styles */
/* .cart {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cart li:last-child {
  border-bottom: none;
}

.cart .cart-item-name {
  flex: 2;
}

.cart .cart-item-price, .cart .cart-item-total {
  flex: 1;
  text-align: center;
}

.cart .cart-item input[type="number"] {
  width: 50px;
  text-align: center;
}

.cart .remove-btn {
  background-color: #dc3545;
}

.cart .remove-btn:hover {
  background-color: #c82333;
}

.cart .cart-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Checkout Styles */
/* .checkout {
  width: 100%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.checkout .checkout-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.checkout input[type="number"] {
  width: calc(100% - 30px);
  margin: 10px 0;
}

.checkout .checkout-change {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .product-list, .cart, .checkout {
      width: 100%;
  }

  .product-list li, .cart li {
      flex-direction: column;
      align-items: flex-start;
  }

  .product-list .product-price, .product-list .add-to-cart-btn, .product-list .edit-btn,
  .cart .cart-item-price, .cart .cart-item input[type="number"], .cart .cart-item-total, .cart .remove-btn {
      text-align: center;
      margin-top: 10px;
  }
}

.checkout-total,
.checkout-change {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkout-message {
    color: green;
    margin-top: 10px;
}

.purchase-details {
    margin-top: 20px;
}

.purchase-detail {
    margin-bottom: 10px;
    display: flex;
}
.divider {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #ccc;
    width: 49rem;
}

.detail-label {
    font-weight: bold;
    margin-right: 10px;
}


.detail-value.paid {
  color: green; /* Style for paid status */
}

.detail-value.unpaid {
  color: red; /* Style for unpaid status */
}

.detail-value {
    flex: 1;
}

.status-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.status-button:hover {
    background-color: #0056b3;
}



